@import url('./theme.scss');

.lauches {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

.container {
  padding: var(--default-space);
  margin: var(--default-space);
}

.box-flex {
  display: flex;
  flex-direction: row;
}

.box-flex-item-border-gray-1 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-items: center;
  width: 400px;
  padding: var(--default-space);
  margin: var(--default-space);
  border-color: var(--secondary);
  border-style: solid;
  border-radius: var(--default-radius);
}

.box-grid {
  display: grid;
  grid-template: repeat(1, 1fr);
  grid-template-columns: repeat(auto-fill);
  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  grid-gap: var(--default-space);
  margin-top: var(--default-space);
}

.box-grid-item-border-gray-1 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-items: center;
  padding: var(--default-space);
  border-color: var(--secondary);
  border-style: solid;
  border-radius: var(--default-radius);
}

.btn {
  padding: var(--default-space);
  margin: var(--default-space);
  color: var(--secondary);
  cursor: pointer;
  border-color: transparent;
  border-radius: var(--default-radius);
}

.btn:hover {
  filter: brightness(1.15);
}

.btn-info {
  @extend .btn;

  color: var(--dark);
  background-color: var(--info);
}

.btn-default {
  @extend .btn;

  color: var(--info);
  background-color: var(--default);
}

.btn-warn {
  @extend .btn;

  background-color: var(--warn);
}

.btn-error {
  @extend .btn;

  background-color: var(--error);
}

.btn-success {
  @extend .btn;

  background-color: var(--success);
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: var(--default-space);
  margin: var(--default-space);
}

.form-field label {
  font-weight: 200;
}

.form-field input {
  min-height: 35px;
  border-color: #f8f9fa;
  border-radius: calc(var(--default-space) / 2);
}

.nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(to right, var(--dark-up), var(--dark));
  color: #fff;
}

.nav ul {
  display: flex;
  height: 100%;
  margin-left: calc(2 * var(--default-space));
}

.nav-logo img {
  display: inline;
  height: 50px;
}

.nav ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav ul li a {
  display: block;
  width: 80px;
  text-align: center;
  vertical-align: bottom;
}

.nav-burger {
  display: none;
}

@media (max-width: 480px) {


  .nav .nav-menu {
    display: none;
  }

  .nav ul {
    display: block;
    height: 100%;
    margin-left: calc(2 * var(--default-space));
  }

  .nav ul li a {
    display: block;
    text-align: center;
    vertical-align: bottom;
    width: 100%;
  }

  .nav-burger {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, var(--dark-up), var(--dark));
    justify-content: flex-end;
    width: 100%;
  }

  .nav-burger button {
    width: 100px;
  }

  .nav-burger button:hover+.nav-menu {
    background-color: aqua;
    display: flex;
    z-index: 10;
  }

}

.nav ul li a:hover {
  background-color: var(--dark-down);
}

.nav ul li:hover {
  background-color: var(--dark-down);
}

.dark-page {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 1000px;
  background-color: var(--dark);
  justify-content: center;
  padding: var(--default-space);
}

.box-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--default-space);
  min-width: 95%;
  border-radius: var(--default-space);
  background-color: var(--dark-up);
  padding: calc(2 * var(--default-space));
}

.box {
  display: flex;
  width: 8em;
  height: 10em;
  border-radius: var(--default-space);
  background-color: var(--dark-down);
  align-items: center;
  justify-content: center;
  color: var(--info);
}