:root {
    --default: #0c6efd;
    --info: #f8f9fa;
    --success: #198753;
    --warn: #ffc007;
    --error: #dc3444;
    --dark-up: #070708;
    --dark: #212529;
    --dark-down: #3b3c3e;
    --tranparent: transparent;
    --primary-up: #023e8a;
    --primary: #0077b6;
    --primary-down: #0096c7;
    --secondary-up: #6c757d;
    --secondary: #adb5bd;
    --secondary-down: #ced4da;
    --default-space: 8px;
    --default-radius: 8px;
  }